@model MovieClub.Models.CategoryModel

@{
    var movies = Model.MovieList;
    var pagecount = Model.PageCount;
    var currentpage = Model.CurrentPage;
    var list = Model.list;
    Layout = null;
}


<div class="content-block">
    @if (movies == null)
    {
        <h5>No more movies</h5>
    }
    else
    {
        foreach (var movie in movies)
        {
            <a id="movie-details-url" href="/Content/MovieDetails/@movie.Id">
                <div>
                    <div>
                        <div id="cat-movie-item">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front-card">
                                        <div id="smallposter" class="thumbnail">
                                            <img src="@movie.PosterURL" />
                                        </div>
                                        <div id="shortdetails">
                                            <div id="cat-movie-name">
                                                @movie.Name
                                            </div>
                                            <hr class="movietile-hr" />
                                            <div id="cat-movie-year">
                                                (@movie.Year)
                                            </div>
                                            <div id="cat-movie-catagory">
                                                @movie.Category
                                            </div>
                                        </div>
                                    </div>
                                    <div class="back-card">
                                        <span id="card-imdb-title">IMDb Rated</span>
                                        <div id="card-imdb">
                                            <img src="~/Content/images/stars.png"/><span>@movie.ImdbRating</span><img src="~/Content/images/stars.png" height="24" width="24" />
                                        </div>
                                        <hr />
                                        <div id="card-movieclub">
                                            <span id="card-movieclub-title">Pearson Rated</span>
                                            <div id="card-movieclub-rating">
                                                <img src="~/Content/images/stars.png" /><span>@Math.Round(movie.MovieClubRating,1)</span>/5<img src="~/Content/images/stars.png" height="24" width="24" />
                                            </div>
                                            <hr />
                                            <div id="card-movieclub-rents">
                                                @if (movie.MovieClubRentCount == 0)
                                                {
                                                     @:No previous rents!
                                                }
                                                else
                                                {
                                                    @:@movie.MovieClubRentCount rents
                                                }
                                            </div>
                                        </div>
                                        <div id="card-views">
                                            @movie.ViewsCount Views
                                        </div>
                                        <div id="card-date">
                                            @String.Format("{0:MMMM dd yyyy}", movie.AddedDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
</div>

<div class="cat-pagination">
    <ul id="pagination">
        @if (list == null)
        {
            <li><a class="previous" href="/Content/Collection/@ViewBag.CollectionId/?Page=@(currentpage - 1)">Previous</a></li>

            for (var i = 0; i < pagecount; i++)
            {
                <li><a href="/Content/Collection/@ViewBag.CollectionId/?Page=@(i + 1)">@(i + 1)</a></li>
            }

            if (currentpage != pagecount)
            {
                <li><a href="/Content/Collection/@ViewBag.CollectionId/?Page=@(currentpage + 1)" class="nextblock">Next</a></li>
            }
        }
        else
        {
            <li><a class="previous" href="/Content/Collection/List/@list/?Page=@(currentpage - 1)">Previous</a></li>

            for (var i = 0; i < pagecount; i++)
            {
                <li><a href="/Content/Collection/List/@list/?Page=@(i + 1)">@(i + 1)</a></li>
            }

            if (currentpage != pagecount)
            {
                <li><a href="/Content/Collection/List/@list/?Page=@(currentpage + 1)" class="nextblock">Next</a></li>
            }
        }
    </ul>
</div>
