@model MovieClub.Models.HomePageModels.HomePageFeaturedsModel

@{
    ViewBag.Title = "_Featured";
    var featuredmovies = Model.Featureds;
    var moviecount = featuredmovies.Count();
}

<div class="row">
    <div class="large-65 medium-100 small-100 columns">
        <div class="featured-div">
            <h5>Featured Movies</h5>
            <div id="rondellCarousel">
                @foreach (var item in featuredmovies)
                {
                    <a rel="rondell" href="/Content/MovieDetails/@item.Id" title="@item.Name">
                        <img src="@item.PosterURL" alt="@item.Name" title="@item.Name">
                        <h5 class="rondell-h5">@item.Name</h5>
                        <p class="rondel-p">@item.PlotShort</p>
                    </a>
                }
            </div>
        </div>

    </div>  
    <div class="large-35 medium-100 small-100 columns">
        <div class="noticeboard" style="text-align:center">
            <h6>Welcome to @System.Configuration.ConfigurationManager.AppSettings["OrganizationName"] @System.Configuration.ConfigurationManager.AppSettings["ClubName"]</h6>
            
            <div class="image-container">
                <img src="~/Content/images/kj.gif" />
            </div>
            <img src="~/Content/images/movies.jpg" style="max-height:150px" />
            <p><i class="fi-die-six"></i>Total @Model.MovieCount movies !</p>
            <p><i class="fi-bookmark"></i>Total @Model.CategoryCount Categories !</p>
        </div>
    </div>
    
</div>