<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title> 
    
    @Styles.Render("~/Content/css/normalize.css")
    @Styles.Render("~/Content/css/foundation.css")
    @Styles.Render("~/Content/css/foundation-icons.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css/glyphicons.css")
    @Styles.Render("~/Content/css/allcatmodal.css")
    @Styles.Render("~/Content/css/inboxpopup.css")
    @Styles.Render("~/Content/css/toastr.css")
    @Scripts.Render("~/Scripts/jquery-1.11.0.min.js")
    @Scripts.Render("~/Content/js/vendor/modernizr.js")
    @Scripts.Render("~/Content/js/toastr.js")
    @RenderSection("customstyles",required:false)
    @RenderSection("customscripts",required:false)
    <script>
        function markread() {
            $("#inboxcount").remove();
        }
    </script>

</head>
<body>

    <div class="fixed" data-options="sticky_on: large"> <!-- replace fixed with sticky if a sticky bar is needed -->
        <nav class="top-bar sticky" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1 id="header-text"><a href="/"><img src="/Content/images/reel2.png" height="30" width="30" /> @System.Configuration.ConfigurationManager.AppSettings["OrganizationName"] @System.Configuration.ConfigurationManager.AppSettings["ClubName"]</a></h1>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="left">
                    <li class="has-form">
                            @using (Html.BeginForm("Search", "Content", FormMethod.Get))
                            {
                                <div class="row collapse">
                                    <div class="small-70 large-70 columns">
                                        <input name="q" class="textinput-custom" type="text" placeholder="Search Movies" />
                                    </div>
                                    <div class="small-30 large-30 columns">
                                        <button type="submit" class="button expand button-custom postfix">Search</button>
                                    </div>
                                </div>
                            }
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="divider"></li>
                        <li>
                            <a id="suggest-movie" role="button" href="#">
                                <img src="/Content/images/suggest.png" height="30" width="30" /> Suggest a Movie
                            </a>
                            <script>
                                $("#suggest-movie").click(function (e) {
                                    $('#suggestModal').foundation('reveal', 'open', '/User/Suggest');
                                    e.preventDefault();
                                })
                            </script>
                        </li>
                        <li class="divider"></li>
                    }
                </ul>
                <div id="suggestModal" class="reveal-modal small" data-reveal>

                </div>
            </section>
            <section class="top-bar-section">
                <ul class="right">
                    <li class="divider"></li>
                    @if(Request.IsAuthenticated){
                        <li>
                            <a id="inbox" role="button" onclick="markread();" href="#">
                                <img id="messagespop" src="~/Content/images/new-messages-red.png" height="40" width="40" />
                                @{
                                    var msgcount = MovieClub.Controllers.UserController.GetNewMessageCount();
                                    if (msgcount > 0)
                                    {
                                        <span id="inboxcount" class="label tiny round">@msgcount</span>
                                    }
                                }
                            </a>
                            <script>
                                $("#inbox").click(function (e) {
                                    $('#inboxmodal').foundation('reveal', 'open', '/User/Messages/?popup=true');
                                    e.preventDefault();
                                });
                            </script>
                        </li>
                    }
                    <li class="divider"></li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
                <div id="inboxmodal" class="reveal-modal medium" data-reveal>

                </div>
            </section>
            <section class="top-bar-section">
                @if (MovieClub.Operations.UserOperations.IsAdmin())
                {
                    @Html.Partial("_AdminToolsPartial")
                }
            </section>
        </nav>
    </div>

    

        <div class="row">
            <div class="large-19 medium-19 sidebar-custom columns medi">
                @{Html.RenderAction("Sidebar", "Content");}
            </div>
            <div class="large-81 medium-81 columns content-wrapper-custom">
                <div id="body-content" class="content-custom">
                    @RenderSection("news", required: false)
                    <!-- featured content start-->
                    @RenderSection("featured", required: false)
                    <!-- Featured content end-->
                    <!-- featured content start-->
                    @RenderSection("actioncatagory", required: false)
                    <!-- Featured content end-->
                    <!-- featured content start-->
                    @RenderSection("thrillercatagory", required: false)
                    <!-- Featured content end-->
                    @RenderBody()

                </div>
            </div>
        </div>

        @Scripts.Render("~/Content/js/foundation.min.js")
        <script>
            $(document).foundation({
                alert: {
                    animation_speed: 500,
                    animation: 'fadeOut'
                }
            });

            

        </script>
        @RenderSection("scripts", required: false)

        <form id="__AjaxAntiForgeryForm" action="#" method="post">
            @Html.AntiForgeryToken()
        </form>

</body>
</html>