@model MovieClub.Models.MovieDetails

@{
    ViewBag.Title = Model.Name;
    var movie = Model;
}
<div id="moviedetails" class="moviedetails">
    <div class="row">
        <div class="small-100 medium-20 large-27 columns">
            <div id="movie-poster">
                <img src="@movie.PosterURL" />
            </div>
            <div id="movie-imdb">
                <p>IMDb Rated</p>
                <div id="rating"><img src="/Content/images/stars.png" width="24" height="24"/>@movie.ImdbRatings<img src="/Content/images/stars.png" width="24" height="24" /> </div>(@movie.ImdbVotes Votes) <p><a href="http://www.imdb.com/title/@movie.ImdbId/">Look in IMDb</a></p>
            </div>
            @if(Request.IsAuthenticated){
                <div id="action-buttons">
                    <ul>
                        <li><a href="" class="button expand small">Reserve</a></li>
                        <li><a href="#" class="button expand small split">Add to Watchlist <span data-dropdown="drop"></span></a><br></li>
                    </ul>
                    <ul id="drop" class="f-dropdown" data-dropdown-content>
                        <li><a href="#">Recommend</a></li>
                        <li><a href="#">Add to favorites</a></li>
                    </ul>
                </div>
            }
            <div id="movieclub-stats">
                <table>
                    <tr><th colspan="2">MovieClub Statistics</th></tr>
                    
                        <tr>
                            <td colspan="2">
                                <div id="movie-pearson">
                                    <p>Pearson Star Rating</p>
                                    <div id="rating-pearson"><img src="/Content/images/stars.png" width="16" height="16" /><span>@Math.Round(movie.MovieClubRatings, 1)</span><img src="/Content/images/stars.png" width="16" height="16" /> </div>
                                </div>
                            </td>
                        </tr>
                        @if (Request.IsAuthenticated)
                        {
                            <tr>
                                <td>Your Rating</td>
                                <td>
                                    <div id="movieclub-rating">
                                        <input type="range" min="0" max="5" @if (ViewBag.HasVoted) { <text> value="@ViewBag.UserRating" </text>   } else { <text>value="0"</text>  } step="0.5" id="backing2">
                                        <div class="rateit" data-rateit-backingfld="#backing2" @if (ViewBag.HasVoted) { <text> data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-value="@ViewBag.UserRating" </text>   }></div>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr><td>Rents</td><td>@movie.MovieClubRentCount times</td></tr>
                </table>
            </div>

        </div> 
        <div class="small-100 medium-80 large-73 columns">
            <div id="movie-info">
                <div id="movie-title">
                    <div id="movie-name">
                        @movie.Name <span id="movie-year">(@movie.Year)</span>
                        <div id="movie-locale">@movie.Country  <span>|</span>  @movie.Language</div>
                    </div>
                    <div id="movie-specs">
                            Type: @movie.Genre <span>|</span> @movie.Runtime  <span>-</span>  @movie.Genre  <span>-</span>  @movie.ReleaseDate
                    </div>
                </div>

                <div id="plot">
                    <p>@movie.PlotFull</p>
                </div>

                <div id="movie-stats">
                    <div id="movie-contributors">
                        <table>
                            <tr><td>Director:</td><td>@movie.Director</td></tr>
                            <tr><td>Writers:</td><td>@movie.Writer</td></tr>
                            <tr><td>Stars:</td><td>@movie.Actors</td></tr>
                            <tr><td>Awards:</td><td>@movie.Awards</td></tr>
                        </table>
                    </div>
                    
                </div>
                @if (movie.TrailerURL != null)
                {
                    <div id="movie-media">
                        <div id="movie-trailer">
                            <h5>Trailer</h5>
                            <video id="video-clip" class="video-js vjs-default-skin" controls
                                   preload="auto" width="640" height="264" poster=""
                                   data-setup="{}">
                                <source src="~/Content/multimedia/tt1300854.mp4" type='video/mp4'>
                            </video>
                        </div>
                    </div>
                }
                <div id="moviedetails-footer">
                    <div id="md-views">
                        @movie.Views Views
                    </div>
                    <div id="md-date">
                        Added on @String.Format("{0:MMMM dd yyyy}", movie.AddedDate); 
                    </div>
                    <div style="clear:both">
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    
</div>

@section scripts{
    <!--<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://www.omdbapi.com/",
                data: {
                    t: "",
                    r: "json",
                    plot: "full"
                }
                
            }).success(function (data) {
                
                var obj = $.parseJSON(data);
                $("#jsoncontent").html(obj.Plot);
                $("#image").image = obj.Poster;
            })
            .error(function () {
                $("#jsoncontent").html("Error getting movie details");
            });
        });

    </script>-->
}

@section customstyles{
    <link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
    <link href="http://vjs.zencdn.net/4.4/video-js.css" rel="stylesheet">
    <style type="text/css">
        .vjs-default-skin {
            color: #949494;
        }

            .vjs-default-skin .vjs-play-progress,
            .vjs-default-skin .vjs-volume-level {
                background-color: #00a5ff;
            }
    </style>
    @Styles.Render("~/Content/css/rateit.css")
    @Styles.Render("~/Content/css/toastr.css")
}

@section customscripts{
    <script src="http://vjs.zencdn.net/4.4/video.js"></script>
    @Scripts.Render("~/Content/js/jquery.rateit.js")
    @Scripts.Render("~/Content/js/toastr.js")

    
    <script>
        $(document).ready(function () {
            $('#movieclub-rating .rateit').bind('rated reset', function (e) {
                var ri = $(this);
                
                //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
                var value = ri.rateit('value');

                $.ajax({
                    url: "/Content/RateMovie", 
                    data: { movieid: "@movie.Id", rating: value },
                    type: "POST",
                    dataType: "text"
                })
                .success(function (data) {
                    var obj = $.parseJSON(data);
                    var res = obj.Result;
                    var newrating = obj.Rating;
                    if (obj.Result == "ok") {
                        toastr.info("Thank you for voting!");
                    }
                    else {
                        $("#movieclub-rating").html("Error!");
                    }
                })
                .error(function () {
                    $("#movieclub-rating").html("Error!");
                });

                //maybe we want to disable voting?
                ri.rateit('readonly', true);
            });
        });
    </script>
}
