@model MovieClub.Models.ImdbMovie

@{
    ViewBag.Title = @ViewBag.Name;
    var movie = Model;
}
<div id="moviedetails" class="moviedetails">
    <div class="row">
        <div class="small-100 medium-20 large-27 columns">
            <div id="movie-poster">
                <img src="@movie.Poster" />
            </div>
            <div id="movie-imdb">
                <p>IMDb Rated</p>
                <div id="rating"><img src="/Content/images/stars.png" width="24" height="24"/>@movie.imdbRating<img src="/Content/images/stars.png" width="24" height="24" /> </div>(@movie.imdbVotes Votes) <p><a href="http://www.imdb.com/title/@movie.imdbID/">Look in IMDb</a></p>
            </div>
            <div id="action-buttons">
                <ul>
                    <li><a href="" class="button expand small">Reserve</a></li>
                    <li><a href="#" class="button expand small split">Add to Watchlist <span data-dropdown="drop"></span></a><br></li>
                </ul>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                    <li><a href="#">Recommend</a></li>
                    <li><a href="#">Add to favorites</a></li>
                </ul>
            </div>
            <div id="movieclub-stats">
                <table>
                    <tr><th colspan="2">MovieClub Statistics</th></tr>
                    
                        <tr>
                            <td colspan="2">
                                <div id="movie-pearson">
                                    <p>Pearson Rated</p>
                                    <div id="rating-pearson"><img src="/Content/images/stars.png" width="16" height="16" />4.9<img src="/Content/images/stars.png" width="16" height="16" /> </div>(14 Votes)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Your Rating</td>
                            <td>
                                <div id="movieclub-rating">
                                    <input type="range" min="0" max="5" value="0" step="0.5" id="backing2">
                                    <div class="rateit" data-rateit-backingfld="#backing2"></div>
                                </div>
                            </td>
                        </tr>
                        <tr><td>Rents</td><td>5 times</td></tr>
                    
                </table>
            </div>

        </div> 
        <div class="small-100 medium-80 large-73 columns">
            <div id="movie-info">
                <div id="movie-title">
                    <div id="movie-name">
                        @movie.Title <span id="movie-year">(@movie.Year)</span>
                        <div id="movie-locale">@movie.Country  <span>|</span>  @movie.Language</div>
                    </div>
                    <div id="movie-specs">
                            Type: @movie.Type <span>|</span> @movie.Runtime  <span>-</span>  @movie.Genre  <span>-</span>  @movie.Released
                    </div>
                </div>

                <div id="plot">
                    <p>@movie.Plot</p>
                </div>

                <div id="movie-stats">
                    <div id="movie-contributors">
                        <table>
                            <tr><td>Director:</td><td>@movie.Director</td></tr>
                            <tr><td>Writers:</td><td>@movie.Writer</td></tr>
                            <tr><td>Stars:</td><td>@movie.Actors</td></tr>
                            <tr><td>Awards:</td><td>@movie.Awards</td></tr>
                        </table>
                    </div>
                    
                </div>
                <div id="movie-media">
                    <div id="movie-trailer">
                        <h5>Trailer</h5>
                        <video id="video-clip" class="video-js vjs-default-skin" controls
                               preload="auto" width="640" height="264" poster=""
                               data-setup="{}">
                            <source src="~/Content/multimedia/tt1300854.mp4" type='video/mp4'>
                        </video>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    
</div>

@section scripts{
    <!--<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://www.omdbapi.com/",
                data: {
                    t: "",
                    r: "json",
                    plot: "full"
                }
                
            }).success(function (data) {
                
                var obj = $.parseJSON(data);
                $("#jsoncontent").html(obj.Plot);
                $("#image").image = obj.Poster;
            })
            .error(function () {
                $("#jsoncontent").html("Error getting movie details");
            });
        });

    </script>-->
}

@section customstyles{
    <link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
    <link href="http://vjs.zencdn.net/4.4/video-js.css" rel="stylesheet">
    <style type="text/css">
        .vjs-default-skin {
            color: #949494;
        }

            .vjs-default-skin .vjs-play-progress,
            .vjs-default-skin .vjs-volume-level {
                background-color: #00a5ff;
            }
    </style>
    @Styles.Render("~/Content/css/rateit.css")
}

@section customscripts{
    <script src="http://vjs.zencdn.net/4.4/video.js"></script>
    @Scripts.Render("~/Content/js/jquery.rateit.js")
}
