@model MovieClub.Models.MovieDetails

@{
    ViewBag.Title = Model.Name;
    var movie = Model;
}
<div id="moviedetails" class="moviedetails">
    <div class="row">
        <div class="small-100 medium-20 large-27 columns">
            <div id="movie-poster">
                <img src="@movie.PosterURL" />
            </div>
            <div id="movie-imdb">
                <p>IMDb Rated</p>
                <div id="rating"><img src="/Content/images/stars.png" width="24" height="24"/>@movie.ImdbRatings<img src="/Content/images/stars.png" width="24" height="24" /> </div>(@movie.ImdbVotes Votes) <p><a href="http://www.imdb.com/title/@movie.ImdbId/">Look in IMDb</a></p>
            </div>
            @if(Request.IsAuthenticated){
                <div id="action-buttons">
                    <ul>
                        <li>
                            <button @if (ViewBag.ReservationDisabled){ <text> class="button expand small disabled" </text>  }else{ <text> class="button expand small" </text>} id="reserve-movie">
                                @if (ViewBag.HasReservations)
                                {
                                    @:Place a request
                                }
                                else
                                {
                                    @:Reserve
                                }
                            </button>
                        </li>
                        <li>
                            <button data-dropdown="dropd" data-options="align:right" class="button dropdown small expand">More Options</button><br>
                        </li>
                    </ul>
                    <ul id="dropd" data-dropdown-content class="f-dropdown">
                        <li>
                            <a href="/Content/RecommendMovie/?movieid=@movie.Id" data-reveal-id="myModal-recommend" data-reveal-ajax="true">
                                Recommend
                            </a>
                        </li>
                        <li><a href="#" id="add-to-favorites" class="small">+ Add to favorites</a></li>
                        <li><a href="#" id="add-to-watchlist" class="small">+ Add to watchlist</a></li>
                    </ul>
                </div>

                <div id="myModal-recommend" class="reveal-modal modal-recommend-msg" data-reveal>
                </div>

                <!--
                    <div id="recommend-popup" class="reveal-modal">
                        <div id="recommend-popup-inner">
                            @@using (Html.BeginForm())
                            {
                                <fieldset>
                                    <legend>Recommend</legend>

                                    <label>Comment
                                        <textarea placeholder="What do you think about ''movie.Name'" id="comment-text" cols="100" rows="4"></textarea>
                                    </label>
                                    <div class="right">
                                        <button class="button tiny" id="recommend-button">Recommend</button>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                -->

            }
            <div id="movieclub-stats">
                <table>
                    <tr><th colspan="2">MovieClub Statistics</th></tr>
                    
                        <tr>
                            <td colspan="2">
                                <div id="movie-pearson">
                                    <p>@System.Configuration.ConfigurationManager.AppSettings["OrganizationName"] Star Rating</p>
                                    <div id="rating-pearson"><img src="/Content/images/stars.png" width="16" height="16" /><span>@Math.Round(movie.MovieClubRatings, 1)</span><img src="/Content/images/stars.png" width="16" height="16" /> </div>
                                </div>
                            </td>
                        </tr>
                        @if (Request.IsAuthenticated)
                        {
                            <tr>
                                <td>Your Rating</td>
                                <td>
                                    <div id="movieclub-rating">
                                        <input type="range" min="0" max="5" @if (ViewBag.HasVoted) { <text> value="@ViewBag.UserRating" </text>   } else { <text>value="0"</text>  } step="0.5" id="backing2">
                                        <div class="rateit" data-rateit-backingfld="#backing2" @if (ViewBag.HasVoted) { <text> data-rateit-ispreset="true" data-rateit-value="@ViewBag.UserRating" </text>   }></div>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr><td>Rents</td><td>@movie.MovieClubRentCount times</td></tr>
                </table>
            </div>

        </div> 
        <div class="small-100 medium-80 large-73 columns">
            <div id="movie-info">
                <div id="movie-title">
                    <div id="movie-name">
                        @movie.Name <span id="movie-year">(@movie.Year)</span>
                        <div id="movie-locale">@movie.Country  <span>|</span>  @movie.Language</div>
                    </div>
                    <div id="movie-specs">
                            Type: @movie.Genre <span>|</span> @movie.Runtime min <span>-</span> @movie.ReleaseDate
                    </div>
                </div>

                <div id="plot">
                    <p>@movie.PlotFull</p>
                </div>

                <div id="movie-stats">
                    <div id="movie-contributors">
                        <table>
                            <tr>
                                <td>Director:</td>
                                <td>
                                    @if (movie.DirectorsList.Count() > 1)
                                    {
                                        foreach (var director in movie.DirectorsList)
                                        {
                                            @:<a href="/Content/Search/?q=@director&&by=director">@director</a>,
                                        }
                                    }
                                    else
                                    {
                                        <a href="/Content/Search/?q=@movie.Director&&by=director">@movie.Director</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Writers:</td>
                                <td>
                                    @if (movie.WritersList.Count() > 1)
                                    {
                                        foreach (var writer in movie.WritersList)
                                        {
                                            @:<a href="/Content/Search/?q=@writer&&by=writer">@writer</a>,
                                        }
                                    }
                                    else
                                    {
                                        <a href="/Content/Search/?q=@movie.Writer&&by=writer">@movie.Writer</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Stars:</td>
                                <td>
                                    @if (movie.ActorsList.Count() > 1)
                                    {
                                        foreach (var actor in movie.ActorsList)
                                        {
                                            @:<a href="/Content/Search/?q=@actor&&by=actor">@actor</a>,
                                        }
                                    }
                                    else
                                    {
                                        <a href="/Content/Search/?q=@movie.Actors&&by=actor">@movie.Actors</a>
                                    }
                                </td>
                            </tr>
                            <tr><td>Awards:</td><td>@movie.Awards</td></tr>
                        </table>
                    </div>
                    
                </div>
                @if (movie.TrailerURL != null)
                {
                    <div id="movie-media">
                        <div id="movie-trailer">
                            <h5>Trailer</h5>
                            <video id="video-clip" class="video-js vjs-default-skin" controls
                                   preload="auto" width="640" height="264" poster=""
                                   data-setup="{}">
                                <source src="~/Content/multimedia/tt1300854.mp4" type='video/mp4'>
                            </video>
                        </div>
                    </div>
                }
                <div id="moviedetails-footer">
                    <div id="md-views">
                        @movie.Views Views
                    </div>
                    <div id="md-date">
                        Added on @String.Format("{0:MMMM dd yyyy}", movie.AddedDate); 
                    </div>
                    <div style="clear:both">
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    
</div>

@section scripts{
    <!--<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://www.omdbapi.com/",
                data: {
                    t: "",
                    r: "json",
                    plot: "full"
                }
                
            }).success(function (data) {
                
                var obj = $.parseJSON(data);
                $("#jsoncontent").html(obj.Plot);
                $("#image").image = obj.Poster;
            })
            .error(function () {
                $("#jsoncontent").html("Error getting movie details");
            });
        });

    </script>-->
}

@section customstyles{
    <link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
    <link href="http://vjs.zencdn.net/4.4/video-js.css" rel="stylesheet">
    <style type="text/css">
        .vjs-default-skin {
            color: #949494;
        }

            .vjs-default-skin .vjs-play-progress,
            .vjs-default-skin .vjs-volume-level {
                background-color: #00a5ff;
            }
    </style>
    @Styles.Render("~/Content/css/rateit.css")
    @Styles.Render("~/Content/css/toastr.css")
}

@section customscripts{
    <script src="http://vjs.zencdn.net/4.4/video.js"></script>
    @Scripts.Render("~/Content/js/jquery.rateit.js")
    @Scripts.Render("~/Content/js/toastr.js")
    @Scripts.Render("~/Content/js/jquery.leanModal.min.js")
    @Scripts.Render("~/Content/js/AjaxAntiForgeryTokens.js")
    <script>

        $(document).ready(function () {


            $("#add-to-favorites").click(function (e) {
                var mid = "@movie.Id";
                $.ajax({
                    url: "/User/AddToFavorites",
                    type: "POST",
                    data:AddAntiForgeryToken({movieid:mid}),
                    dataType:"text"
                })
                .success(function (data) {
                    var obj = $.parseJSON(data);
                    if (obj.result == "ok") {
                        toastr.success("'@movie.Name' added to your favorites!");
                    }
                    else if (obj.result == "error") {
                        toastr.info(obj.reason);
                    }
                })
                .error(function () {
                    toastr.error("Failed! Check your connection.");
                });
                e.preventDefault();
            });

            $("#add-to-watchlist").click(function (e) {
                var mid = "@movie.Id";
                $.ajax({
                    url: "/User/AddToWatchList",
                    type: "POST",
                    data: AddAntiForgeryToken({ movieid: mid }),
                    dataType: "text"
                })
                .success(function (data) {
                    var obj = $.parseJSON(data);
                    if (obj.result == "ok") {
                        toastr.success("'@movie.Name' added to your watchlist!");
                    }
                    else if (obj.result == "error") {
                        toastr.info(obj.reason);
                    }
                })
                .error(function () {
                    toastr.error("Failed! Check your connection.");
                });

                e.preventDefault();
            });


            //this ajax call performs reservation/requesting of movies
            $("#reserve-movie").click(function (e) {
                $.ajax({
                    url: "/User/Reserve",
                    type: "POST",
                    data: AddAntiForgeryToken({id:"@movie.Id"}),
                    dataType: "text"
                })
                .success(function (data) {
                    var obj = $.parseJSON(data);
                    if (obj.result == "ok") {
                        toastr.success(obj.message);
                    }
                    else if (obj.result == "error") {
                        toastr.info(obj.message);
                    }
                    else {
                        toastr.error("Something went wrong! Your request couldn't be performed!");
                    }
                })
                .error(function () {
                    toastr.error("Failed to connect! Check your connection.");
                });
                e.preventDefault();
            });

            $('#movieclub-rating .rateit').bind('rated reset', function (e) {
                var ri = $(this);
                
                //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
                var value = ri.rateit('value');

                $.ajax({
                    url: "/Content/RateMovie", 
                    data: AddAntiForgeryToken({ movieid: "@movie.Id", rating: value }),
                    type: "POST",
                    dataType: "text"
                })
                .success(function (data) {
                    var obj = $.parseJSON(data);
                    var res = obj.Result;
                    var newrating = obj.Rating;
                    if (obj.Result == "ok") {
                        toastr.info("Thank you for voting!");
                    }
                    else {
                        $("#movieclub-rating").html("Error!");
                    }
                })
                .error(function () {
                    $("#movieclub-rating").html("Error!");
                });

                //maybe we want to disable voting?
                //ri.rateit('readonly', true);
            });
        });
    </script>
}
