@model MovieClub.Models.HomePageModels.HomePageFeaturedsModel
@{
    ViewBag.Title = "Home Page";
    var homepage = Model;
    List<string> topcatnames = ViewBag.TopCatNames;
    List<int> topcatids = ViewBag.TopCatIds;
    var i = 0;
    var j = 0;
}

@section featured{
    @Html.Partial("_FeaturedPartial", homepage.Featureds)
    @Html.Partial("_WhatsNewPartial", homepage.NewlyAdded)
}

@if(homepage.TopCats!=null){
    <div class="row topcategories">
    <div class="topcategories-title">
        <h4>Most viewed categories</h4>
    </div>
    @foreach (var category in homepage.TopCats)
    {
        <div class="large-32 large-offset-1 medium-32 medium-offset-1 small-100 columns home-catcontainer left">
            <div class="home-catname">
                <div class="left">
                    @topcatnames[i++]
                </div>
                <div class="right">
                    <a href="/Content/Collection/@topcatids[j++]">More..</a>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="home-catmovies">
                @foreach (var catmovie in category)
                {   <a href="/Content/MovieDetails/@catmovie.Id">
                        <div class="home-catmovie row">
                            <div class="large-25 small-25 medium-25 columns" style="padding:0">
                                <img class="home-catmovie-poster" src="@catmovie.PosterURL" alt="No Poster" />
                            </div>
                            <div class="large-75 small-75 medium-75 columns">
                                <div class="home-catmovie-title" style="clear:both">@catmovie.Name (@catmovie.Year)</div>
                                
                                <div class="home-catmovie-details">
                                    <div class="home-catmovie-cat" style="clear:both">@catmovie.Category</div>
                                    <div class="home-catmovie-imdb" style="clear:both">IMDb Rating: @Math.Round(catmovie.ImdbRating, 1)</div>
                                    <div class="home-catmovie-movieclub" style="clear:both">@System.Configuration.ConfigurationManager.AppSettings["OrganizationName"] Rating: @Math.Round(catmovie.MovieClubRating, 1)</div>
                                    <div class="home-catmovie-views" style="clear:both">Views: @catmovie.ViewsCount</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    }

</div>
}

@section customstyles{
    <link type='text/css' rel='stylesheet' href='~/Content/css/bootstrap.min.css' />
    <link type='text/css' rel='stylesheet' href='~/Content/css/carousal.css' />
    <link type='text/css' rel='stylesheet' href='~/Content/css/topcat.css' />
    <link type='text/css' rel='stylesheet' href='~/Content/css/whatsnew.css' />
}

@section customscripts{
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 6000
            })
        });
    </script>
}
