@model List<MovieClub.Models.AdminModels.ManageMoviesModel>

<div class="row">
    <div class="small-100 large-100 medium-100 columns">
        <table>
            <thead>
                <tr>
                    <th width="30">
                        <span class="close">&times;</span>
                    </th>
                    <th width="250">
                        Movie
                    </th>
                    <th width="200" style="text-align:center">
                        Genre
                    </th>
                    <th style="text-align:center">
                        Featured
                    </th>
                    <th style="text-align:center">
                        Reservations
                    </th>
                    <th style="text-align:center">
                        Rents
                    </th>
                    <th style="text-align:center">
                        Views
                    </th>
                    <th width="50" style="text-align:center">
                        @System.Configuration.ConfigurationManager.AppSettings["OrganizationName"] Ratings
                    </th>
                    <th style="text-align:center">
                        Favorites
                    </th>
                    <th style="text-align:center">
                        Available
                    </th>
                    <th style="text-align:center">
                        Added on
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a onclick="deletemovie(@item.MovieId)" class="close">&times;</a>
                            </td>
                            <td>
                                <a href="/Content/MovieDetails/@item.MovieId">@Html.DisplayFor(modelItem => item.MovieName)</a>
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Genre)
                            </td>
                            <td style="text-align:center">
                                <input type="checkbox" class="featuredcheckbox" checked="@item.Featured" data-movieid="@item.MovieId" />
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.ReservationsCount)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.RentsCount)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.ViewsCount)
                            </td>
                            <td style="text-align:center">
                                @Math.Round(item.MovieClubRating, 1)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Favorites)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.AvailableToRent)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.AddedDate)
                            </td>
                        </tr>

                    }
                    
                }
                else
                {
                    <tr>
                        <td colspan="11" style="text-align:center">
                            No movies
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="~/Content/js/managemovies.js"></script>

