@model List<MovieClub.Models.AdminModels.SuggestedMovieModal>

@{
    var movies = Model;
}

@if (movies.Count > 0)
{
    foreach (var item in movies)
    {
        <tr>
            <td><a href="#" class="close"><input type="checkbox" class="sugchecked" data-suggestion="@item.SuggestionId" /></a></td>
            <td>@item.Username</td>
            <td>@item.MovieName</td>
            <td>@Html.Raw(item.Info)</td>
            <td>@item.Timestamp</td>
        </tr>
    }

}
else
{
    <tr>
        <td colspan="4">No suggestions</td>
    </tr>
}
<script src="~/Content/js/adminfunctions.js"></script>
<script src="~/Content/js/AjaxAntiForgeryTokens.js"></script>