@model List<MovieClub.Models.AdminModels.UserModel>

@{
    var users = Model;
}

@if (users.Count != 0)
{
    int i=1;
    foreach (var user in users)
    {
        <tr>
            <td>@i</td>
            <td>@user.UserID</td>
            <td>@user.Username</td>
            <td>@user.EmployeeId</td>
            <td><a href="mailto:@user.Email">@user.Email</a></td>
            <td><a href="/Admin/MakeAdmin/?u=@user.UserID">Make Admin</a></td>
        </tr>
        i++;
    }
}
else
{
    <td colspan="5" style="padding:10px;text-align:center">No users</td>
}

