@model MovieClub.Models.MovieDetails

@{
    ViewBag.Title = "Administrator | Control Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var ImdbAPI = System.Configuration.ConfigurationManager.AppSettings["IMDbAPI"];
}

<dl class="tabs" data-tab>
    <dd class="active"><a href="#panel-reservations"><i class="fi-shopping-cart"></i>Reservations and Issues</a></dd>
    <dd><a href="#panel-returns"><i class="fi-marker"></i>Pending returns</a></dd>
    <dd><a href="#panel-users"><i class="fi-torsos-all"></i>Users</a></dd>
    <dd><a href="#panel-pending-payments"><i class="fi-shopping-bag"></i>Pending Payments</a></dd>
    <dd><a href="#panel-payments-history"><i class="fi-list-number"></i>Payment History</a></dd>
    @*<dd><a href="#panel-rents-history"><i class="fi-shopping-bag"></i>Rents History</a></dd>*@
</dl>

<div class="tabs-content tabs-content-custom">

    <div id="panel-reservations" class="content active">
        <div style="clear:both">
            <a href="/Admin/IssueUnreserved" class="button secondary tiny" data-reveal-id="myModalIssueUnreserved" data-reveal-ajax="true">
                Issue a movie without previous reservation?
            </a>
        </div>
        <div>
            <table id="table-reservations">
                <thead>
                    <tr>
                        <th width="300">
                            Movie name
                        </th>
                        <th>
                            Reservations
                        </th>
                        <th width="200">
                            Next reservation to
                        </th>
                        <th width="200">
                            Timestamp
                        </th>
                        <th width="100">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            
        </div>
        
    </div>

    <div id="panel-returns" class="content">
        <table id="table-returns">
            <thead>
                <tr>
                    <th width="400">Movie</th>
                    <th width="200">Username</th>
                    <th width="250">Date taken</th>
                    <th width="250">Due date</th>
                    <th width="400">Actions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div id="panel-users" class="content">
        <table id="table-users">
            <thead>
                <tr>
                    <th width="50">#</th>
                    <th width="100">User ID</th>
                    <th width="300">Username</th>
                    <th width="150">Employee ID</th>
                    <th width="600">Email</th>
                    <th width="200">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="panel-pending-payments" class="content">
        <table id="table-pending-payments">
            <thead>
                <tr>
                    <th width="300">Username</th>
                    <th width="200">Outstanding payment</th>
                    <th width="200">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>

    <div id="panel-payments-history" class="content">
        <table id="table-payments-history">
            <thead>
                <tr>
                    <th width="100">UserID</th>
                    <th width="300">Username</th>
                    <th width="200">Payment Amount</th>
                    <th width="200">Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    @*<div id="panel-rents-history" class="content">
        <table id="table-rents-history">
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>Username</th>
                    <th>Payment Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>*@

    <div id="myModal" class="reveal-modal modal-custom-message" data-reveal>
    </div>

    <div id="myModalpayment" class="reveal-modal modal-custom" data-reveal>
    </div>

    <div id="myModalIssueUnreserved" class="reveal-modal modal-isu" data-reveal>
    </div>

    </div>



@section customstyles{
    @Styles.Render("~/Content/css/admin.css")
    @Styles.Render("~/Content/css/toastr.css")
}


@section Scripts {
    @Scripts.Render("~/Content/js/foundation/foundation.alert.js")
    @Scripts.Render("~/Content/js/toastr.js")
    @Scripts.Render("~/Content/js/AjaxAntiForgeryTokens.js")

    <script type="text/javascript" src="/Content/js/adminfunctions.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            
            //ajax calls on page load----------------------------------------------------------------------

            updateReservations();

            updatePendingReturns();

            updatePaymentDues();

            updateUsers();

            updatePaymentHistory();

            /*---------------------------------------------------------------*/

        });


        function issueMovie(movieid,userid) {
            $.ajax({
                url: "/Admin/Issue/?u=" + userid + "&&movie=" + movieid,
                data:AddAntiForgeryToken({}),
                type: "POST",
                dataType: "text"
            })
                .success(function (data) {
                    var obj = $.parseJSON(data);
                    if (obj.result == "ok") {

                        $.ajax({
                            type: "GET",
                            url: "/Admin/ReservedMovies"
                        })
                        .success(function (data) {
                            $("#table-reservations tbody").html(data);
                        })
                        .error(function () {
                            $("#table-reservations tbody").html("<p>Error loading reservations. Try refreshing the page.</p>");
                        });

                        //refresh pending returns view
                        updatePendingReturns();

                        //$.ajax({
                        //    url: "/Admin/PendingReturns",
                        //    type: "GET"
                        //})
                        //.success(function (data) {
                        //    $("#table-returns tbody").html(data);
                        //})
                        //.error(function () {
                        //    $("#table-returns tbody").html("<p>Error loading pending returns!</p>");
                        //});

                        toastr.success(obj.message);
                    }
                    else if (obj.result == "error") {
                        toastr.warning(obj.message);
                    }
                    else {
                        toastr.error("Unknown error occured!");
                    }
                })
                .error(function () {
                    toastr.error("Error occured! Check your connection.");
                });
        }

        function markAsReturned(movieid,u) {
            $.ajax({
                url: "/Admin/MarkAsReturned/?movieid=" + movieid + "&&u=" + u,
                data: AddAntiForgeryToken({}),
                type: "POST",
                dataType: "text"
            })
            .success(function (data) {
                var obj = $.parseJSON(data);

                updatePendingReturns();
                updatePaymentDues();

                //$.ajax({
                //    url: "/Admin/PendingReturns",
                //    type: "GET"
                //})
                //.success(function (data) {
                //    $("#table-returns tbody").html(data);
                //})
                //.error(function () {
                //    $("#table-returns tbody").html("<p>Error loading pending returns!</p>");
                //});


                if (obj.result == "ok") {
                    toastr.success(obj.message);
                }
            })
            .error(function () {
                toastr.error("Error occured! Check your connection.");
            });
        }

    </script>

    
}

