@model List<MovieClub.Models.AdminModels.DetailedPaymentModel>

@{
    Layout = null;
    var user = ViewBag.PaymentUser;
    var paylist = Model;
    var finetotal = ViewBag.FineTotal;
    var chargetotal = ViewBag.ChargeTotal;
}

<div id="payment-sheet">
    <div id="payment-header">
        Outstanding payment details
        <hr />
    </div>
    <div id="payment-details" class="left">
        <table>
            <thead>
                <tr>
                    <th width="250">Movie name</th>
                    <th width="100">Charge</th>
                    <th width="100">Fine</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in paylist)
                {
                    <tr>
                        <td width="250">@item.MovieName</td>
                        <td width="100">@Math.Round((double)item.Charge, 2)</td>
                        <td width="100">@Math.Round((double)item.Fine, 2)</td>
                    </tr>
                }
            </tbody>
            
        </table>
        <table>
            <tr>
                <td width="350">Total Amount (Rs.):</td>
                <td width="100"><input type="text" value="@Math.Round((double)(finetotal+chargetotal),2)" name="totalamount" id="total-text" /></td>
            </tr>
        </table>
        <div style="text-align:center">
            <a href="/Admin/CheckoutPayment/?userid=@user" class="button tiny" id="checkout-button">Checkout</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Content/js/adminfunctions.js"></script>
<script>
    var moviesjs = {};

    $("#checkout-button").click(function (e) {
        $.ajax({
            url: "/Admin/PerformTransaction",
            type: "POST",
            data: AddAntiForgeryToken({
                userid: "@user",
                payment: $("#total-text").val()
            }),
            dataType: "text"
        })
        .success(function (data) {
            var obj = $.parseJSON(data);
            if (obj.result == "ok") {
                $('#myModalpayment').foundation('reveal', 'close');
                updatePaymentDues();
                updatePaymentHistory();
                toastr.success(obj.message);
            }
        })
        .error(function () {
            $('#myModalpayment').foundation('reveal', 'close');
            toastr.error("Payment Failed! Check your connection.");
        });
        e.preventDefault();
    });
</script>
