@model List<MovieClub.Models.AdminModels.ManageMoviesModel>

@{
    ViewBag.Title = "ManageMovies";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--
    <div id="admin-actions" class="right">
        <ul class="button-group round">
            <li><a href="#" class="button tiny">Button 1</a></li>
            <li><a href="#" class="button tiny">Button 2</a></li>
            <li><a href="#" class="button tiny alert">Button 3</a></li>
        </ul>
    </div>
-->

<div class="row">
    <div class="small-100 large-100 medium-100 columns">
        <table>
            <thead>
                <tr>
                    <th width="30">
                        <input id="selectallmovies" type="checkbox" />
                    </th>
                    <th width="300">
                        Movie
                    </th>
                    <th width="200">
                        Genre
                    </th>
                    <th>
                        Featured
                    </th>
                    <th>
                        Reservations
                    </th>
                    <th>
                        Rents
                    </th>
                    <th>
                        Views
                    </th>
                    <th width="50">
                        Pearson Ratings
                    </th>
                    <th>
                        Favorites
                    </th>
                    <th>
                        Available
                    </th>
                    <th>
                        Added on
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(modelItem => item.Selected, new { @class = "selectmovie" })
                            @Html.HiddenFor(modelItem => item.Updated)
                        </td>
                        <td>
                            <a href="/Content/MovieDetails/@item.MovieId">@Html.DisplayFor(modelItem => item.MovieName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            <input type="checkbox" class="featuredcheckbox" checked="@item.Featured" data-movieid="@item.MovieId" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReservationsCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RentsCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ViewsCount)
                        </td>
                        <td>
                            @Math.Round(item.PearsonRating,1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Favorites)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvailableToRent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddedDate)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@section customstyles{
    @Styles.Render("~/Content/css/admin.css")
    @Styles.Render("~/Content/css/toastr.css")
}

@section customscripts{
    @Scripts.Render("~/Content/js/toastr.js")
}

@section scripts{
    <script>
        $(document).ready(function () {
            $(".featuredcheckbox").change(function (e) {
                
                $.ajax({
                    url: "/Admin/FeatureMovie/?",
                    type: "post",
                    data: AddAntiForgeryToken({
                        movieid: $(this).attr("data-movieid"),
                        featured: $(this).is(":checked")
                    }),
                    dataType: "text"
                })
                .success(function (data) {
                    var obj = $.parseJSON(data);
                    if (obj.result == "ok") {
                        toastr.success(obj.message);
                    }
                    else if (obj.result == "error") {
                        $(this).removeAttr("checked");
                        toastr.warning(obj.message);
                    }
                })
                .error(function () {
                    toastr.error("Error occured! Check your connection.");
                });
            });
        });
    </script>
}
